.cleanList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cleanButton {
  appearance: none;
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
