:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  
  --color-primary-50: #E1F5FE;
  --color-primary-100: #B3E5FC;
  --color-primary-200: #B3E5FC;
  --color-primary-300: #4FC3F7;
  --color-primary-400: #29B6F6;
  --color-primary-500: #03A9F4;
  --color-primary-600: #039BE5;
  --color-primary-700: #0288D1;
  --color-primary-800: #0277BD;
  --color-primary-900: #01579B;

  --color-gray-50: #FAFAFA;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EEEEEE;
  --color-gray-300: #E0E0E0;
  --color-gray-400: #BDBDBD;
  --color-gray-500: #9E9E9E;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;

  --color-blue-gray-50: #ECEFF1;
  --color-blue-gray-100: #CFD8DC;
  --color-blue-gray-200: #B0BEC5;
  --color-blue-gray-300: #90A4AE;
  --color-blue-gray-400: #78909C;
  --color-blue-gray-500: #607D8B;
  --color-blue-gray-600: #546E7A;
  --color-blue-gray-700: #455A64;
  --color-blue-gray-800: #37474F;
  --color-blue-gray-900: #263238;

  --color-background: var(--color-blue-gray-50);
  --color-foreground: var(--color-blue-gray-800);
  --color-primary: var(--color-primary-500);

  --spacing-00: 0;
  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 12px;
  --spacing-04: 16px;
  --spacing-05: 20px;
  --spacing-06: 24px;
  --spacing-07: 28px;
  --spacing-08: 32px;
  --spacing-09: 36px;
  --spacing-10: 40px;

  --container--max-width: 1280px;

  --animation-duration-quick: 0.2s;
  --animation-duration-normal: 0.4s;
  --animation-duration-slow: 0.6s;
  --animation-easing: ease-in-out;
}
