:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary-50: #e1f5fe;
  --color-primary-100: #b3e5fc;
  --color-primary-200: #b3e5fc;
  --color-primary-300: #4fc3f7;
  --color-primary-400: #29b6f6;
  --color-primary-500: #03a9f4;
  --color-primary-600: #039be5;
  --color-primary-700: #0288d1;
  --color-primary-800: #0277bd;
  --color-primary-900: #01579b;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;

  --color-blue-gray-50: #eceff1;
  --color-blue-gray-100: #cfd8dc;
  --color-blue-gray-200: #b0bec5;
  --color-blue-gray-300: #90a4ae;
  --color-blue-gray-400: #78909c;
  --color-blue-gray-500: #607d8b;
  --color-blue-gray-600: #546e7a;
  --color-blue-gray-700: #455a64;
  --color-blue-gray-800: #37474f;
  --color-blue-gray-900: #263238;

  --color-background: var(--color-blue-gray-50);
  --color-foreground: var(--color-blue-gray-800);
  --color-primary: var(--color-primary-500);

  --font-serif: "Georgia", serif;
  --font-sans: var(--font-roboto);

  --spacing-00: 0;
  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 12px;
  --spacing-04: 16px;
  --spacing-05: 20px;
  --spacing-06: 24px;
  --spacing-07: 28px;
  --spacing-08: 32px;
  --spacing-09: 36px;
  --spacing-10: 40px;

  --container--max-width: 1280px;

  --animation-duration-quick: 0.2s;
  --animation-duration-normal: 0.4s;
  --animation-duration-slow: 0.6s;
  --animation-easing: ease-in-out;

  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
