.root {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button {
  composes: cleanButton from global;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-02);
  padding: var(--spacing-03) var(--spacing-04);
  color: var(--color-blue-gray-800);
  cursor: pointer;

  &:hover:not([disabled]) {
    color: var(--color-neutral-black);
  }

  &:focus {
    outline: var(--color-focus);
  }

  &:disabled {
    color: var(--color-neutral-400);
  }
}

.activeButton {
  composes: cleanButton from global;
  composes: button;
  color: var(--color-primary-700);
}

.tabUnderline {
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  background-color: var(--color-primary-700);
  transition: width 0.3s ease, transform 0.3s ease;
}
