:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  
  --color-primary-50: #E1F5FE;
  --color-primary-100: #B3E5FC;
  --color-primary-200: #B3E5FC;
  --color-primary-300: #4FC3F7;
  --color-primary-400: #29B6F6;
  --color-primary-500: #03A9F4;
  --color-primary-600: #039BE5;
  --color-primary-700: #0288D1;
  --color-primary-800: #0277BD;
  --color-primary-900: #01579B;

  --color-gray-50: #FAFAFA;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EEEEEE;
  --color-gray-300: #E0E0E0;
  --color-gray-400: #BDBDBD;
  --color-gray-500: #9E9E9E;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;

  --color-blue-gray-50: #ECEFF1;
  --color-blue-gray-100: #CFD8DC;
  --color-blue-gray-200: #B0BEC5;
  --color-blue-gray-300: #90A4AE;
  --color-blue-gray-400: #78909C;
  --color-blue-gray-500: #607D8B;
  --color-blue-gray-600: #546E7A;
  --color-blue-gray-700: #455A64;
  --color-blue-gray-800: #37474F;
  --color-blue-gray-900: #263238;

  --background: --color-blue-gray-50;
  --foreground: --color-blue-gray-800;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
